body {
  background-color: #E8F9FD;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 20px;
  width: 10%
}
h1{
  color: #1F4690;
 font-family: fantasy;
}
h4{
  color: #1F4690;
}
button {
 color: red;
}
marquee{
  color: #FFFF00;
}
