body {
  background-color: #E8F9FD;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 20px;
  width: 10%
}
h1{
  color: #1F4690;
<<<<<<< HEAD
 font-family: fantasy;
=======
>>>>>>> 85de1ccf4bed8cba383228f0ce19e4fb0ee82266
}
h4{
  color: #1F4690;
}
